@import "tailwindcss";

:root {
  --background: #E2E2E2;
  --foreground: #171717;
}

.dark {
  --background: #00012B;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* LIGHT STYLES */
  --color-light-primary: #E2E2E2;
  --color-light-secondary: #D9D9D9;
  --color-light-tertiary: #737373;
  --color-light-td: oklch(70.7% 0.022 261.325);
  --color-light-text: #000000;
  --color-light-background-button: #000000;
  --color-light-input: #535353;
  /* DARK STYLES */
  --color-dark-primary: #00012B;
  --color-dark-secondary: #000247;
  --color-dark-tertiary: #00011A;
  --color-dark-td: oklch(35.9% 0.144 278.697);
  --color-dark-background-button: #585BFF;
  --color-dark-text: #DDDDDD;
  --color-dark-input: #DDDDDD;
}

@theme {
  --breakpoint-xs: 500px
}

.buttonForm {
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.buttonFormDark {
  background-color: var(--color-dark-background-button);
  color: var(--color-dark-text);
}

.buttonFormLight {
  background-color: var(--color-light-background-button);
  color: white;
}

.buttonForm:hover {
  cursor: pointer;
  opacity: 0.8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0000;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #4caf50;
}

input:checked+.slider:before {
  transform: translateX(20px);
}